<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Practice Grouping Data with Pandas

_Authors: Kiefer Katovich (SF), Dave Yerrington (SF), Mario Carrillo (SF)_

---

You are going to investigate UFO sightings around the US.  This lab will give you practice performing `groupby` operations to split data along multiple dimensions and investigate patterns between subsets of the data using basic aggregation.

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

#### 1. Load and print the header for the UFO data.

In [9]:
ufo_csv = pd.DataFrame.from_csv('/Users/Mahendra/desktop/GA/hw/2.2.3_pandas-grouping-lesson/datasets/ufo.csv')

In [10]:
# A:
ufo_csv

                     Colors Reported Shape Reported State              Time
City
Ithaca                           NaN       TRIANGLE    NY    6/1/1930 22:00
Willingboro                      NaN          OTHER    NJ   6/30/1930 20:00
Holyoke                          NaN           OVAL    CO   2/15/1931 14:00
Abilene                          NaN           DISK    KS    6/1/1931 13:00
New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
Valley City                      NaN           DISK    ND   9/15/1934 15:30
Crater Lake                      NaN         CIRCLE    CA    6/15/1935 0:00
Alma                             NaN           DISK    MI    7/15/1936 0:00
Eklutna                          NaN          CIGAR    AK  10/15/1936 17:00
Hubbard                          NaN       CYLINDER    OR    6/15/1937 0:00
Fontana                          NaN          LIGHT    CA   8/15/1937 21:00
Waterloo                         NaN       FIREBALL    AL    6/1/1939 20:00
Belton                           RED         SPHERE    SC   6/30/1939 20:00
Keokuk                           NaN           OVAL    IA     7/7/1939 2:00
Ludington                        NaN           DISK    MI    6/1/1941 13:00
Forest Home                      NaN         CIRCLE    CA    7/2/1941 11:30
Los Angeles                      NaN            NaN    CA    2/25/1942 0:00
Hapeville                        NaN            NaN    GA    6/1/1942 22:30
Oneida                           NaN      RECTANGLE    TN    7/15/1942 1:00
Bering Sea                       RED          OTHER    AK   4/30/1943 23:00
Nebraska                         NaN           DISK    NE    6/1/1943 15:00
NaN                              NaN            NaN    LA    8/15/1943 0:00
NaN                              NaN          LIGHT    LA    8/15/1943 0:00
Owensboro                        NaN      RECTANGLE    KY  10/15/1943 11:00
Wilderness                       NaN           DISK    WV    1/1/1944 10:00
San Diego                        NaN          CIGAR    CA    1/1/1944 12:00
Wilderness                       NaN           DISK    WV    1/1/1944 12:00
Clovis                           NaN           DISK    NM    4/2/1944 11:00
Los Alamos                       NaN           DISK    NM    6/1/1944 12:00
Ft. Duschene                     NaN           DISK    UT   6/30/1944 10:00
...                              ...            ...   ...               ...
Manahawkin                       NaN         CIRCLE    NJ     9/4/2014 8:30
New Bedford                      NaN          LIGHT    MA     9/4/2014 9:47
Woodbridge                       NaN       TRIANGLE    VA    9/4/2014 16:30
Glendale                         NaN       CYLINDER    CA    9/4/2014 17:38
Laconia                          NaN          CIGAR    NH    9/4/2014 19:02
Langhorne                        NaN          OTHER    PA    9/4/2014 19:30
Glen Ellyn                       RED         CIRCLE    IL    9/4/2014 20:20
Waynesburg                       NaN          FLASH    PA    9/4/2014 20:25
Canal Winchester                 NaN       TRIANGLE    OH    9/4/2014 20:30
Lawrence                      ORANGE          LIGHT    MA    9/4/2014 20:30
Ellicott City                    NaN          LIGHT    MD    9/4/2014 20:45
Olympia                          RED          LIGHT    WA    9/4/2014 21:10
Iowa City                       BLUE          LIGHT    IA    9/4/2014 21:11
Marshfield                       NaN          LIGHT    MA    9/4/2014 21:15
Seattle                          NaN        DIAMOND    WA    9/4/2014 21:15
North Royalton                   RED       TRIANGLE    OH    9/4/2014 21:30
Deer Park                        NaN          LIGHT    WA    9/4/2014 22:00
Glen St. Mary                    NaN           DISK    FL    9/4/2014 22:00
Abingdon                         NaN         CIRCLE    VA    9/4/2014 22:05
Lawrence                         NaN          LIGHT    MA    9/4/2014 22:15
Melbourne                        NaN           OVAL    IA    9/4/2014 22:15
Burleson                         NaN          LIGHT    TX    9/4/2014 22:30
Elizabethtown                    NaN         CIRCLE    KY    9/4/2014 22:30
Wyoming                          RED           DISK    PA    9/4/2014 23:00
Neligh                           NaN         CIRCLE    NE    9/4/2014 23:20
Neligh                           NaN         CIRCLE    NE    9/4/2014 23:20
Uhrichsville                     NaN          LIGHT    OH     9/5/2014 1:14
Tucson                      RED BLUE            NaN    AZ     9/5/2014 2:40
Orland park                      RED          LIGHT    IL     9/5/2014 3:43
Loughman                         NaN          LIGHT    FL     9/5/2014 5:30

[80543 rows x 4 columns]

In [45]:
ufo=ufo_csv.reset_index()
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
80513,Manahawkin,NaN,CIRCLE,NJ,9/4/2014 8:30
80514,New Bedford,NaN,LIGHT,MA,9/4/2014 9:47
80515,Woodbridge,NaN,TRIANGLE,VA,9/4/2014 16:30
80516,Glendale,NaN,CYLINDER,CA,9/4/2014 17:38
80517,Laconia,NaN,CIGAR,NH,9/4/2014 19:02
80518,Langhorne,NaN,OTHER,PA,9/4/2014 19:30
80519,Glen Ellyn,RED,CIRCLE,IL,9/4/2014 20:20
80520,Waynesburg,NaN,FLASH,PA,9/4/2014 20:25
80521,Canal Winchester,NaN,TRIANGLE,OH,9/4/2014 20:30
80522,Lawrence,ORANGE,LIGHT,MA,9/4/2014 20:30
80523,Ellicott City,NaN,LIGHT,MD,9/4/2014 20:45
80524,Olympia,RED,LIGHT,WA,9/4/2014 21:10
80525,Iowa City,BLUE,LIGHT,IA,9/4/2014 21:11
80526,Marshfield,NaN,LIGHT,MA,9/4/2014 21:15
80527,Seattle,NaN,DIAMOND,WA,9/4/2014 21:15
80528,North Royalton,RED,TRIANGLE,OH,9/4/2014 21:30
80529,Deer Park,NaN,LIGHT,WA,9/4/2014 22:00
80530,Glen St. Mary,NaN,DISK,FL,9/4/2014 22:00
80531,Abingdon,NaN,CIRCLE,VA,9/4/2014 22:05
80532,Lawrence,NaN,LIGHT,MA,9/4/2014 22:15
80533,Melbourne,NaN,OVAL,IA,9/4/2014 22:15
80534,Burleson,NaN,LIGHT,TX,9/4/2014 22:30
80535,Elizabethtown,NaN,CIRCLE,KY,9/4/2014 22:30
80536,Wyoming,RED,DISK,PA,9/4/2014 23:00
80537,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20
80538,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20
80539,Uhrichsville,NaN,LIGHT,OH,9/5/2014 1:14
80540,Tucson,RED BLUE,NaN,AZ,9/5/2014 2:40
80541,Orland park,RED,LIGHT,IL,9/5/2014 3:43
80542,Loughman,NaN,LIGHT,FL,9/5/2014 5:30

#### 2. How many null values exist per column?

In [46]:
# A:
ufo.isnull().any()

City                True
Colors Reported     True
Shape Reported      True
State              False
Time               False
dtype: bool

In [47]:
#np.sum(ufo_csv['Colors Reported'].isnull().any())
count_nan = len(ufo) - ufo.count()
count_nan

City                  47
Colors Reported    63509
Shape Reported      8402
State                  0
Time                   0
dtype: int64

In [48]:
ufo.shape

(80543, 5)

#### 3. Which city has the most observations?

In [49]:
# A:
ufo.groupby('City').apply(len).sort_values(ascending=False).head(10)

City
Seattle          646
New York City    612
Phoenix          533
Las Vegas        442
Portland         438
Los Angeles      416
San Diego        401
Houston          340
Chicago          337
Miami            279
dtype: int64

#### 4. What is the observation count per shape?

In [52]:
ufo['Shape Reported'].value_counts()

LIGHT        16332
TRIANGLE      7816
CIRCLE        7725
FIREBALL      6249
OTHER         5506
SPHERE        5231
DISK          5226
OVAL          3721
FORMATION     2405
CIGAR         1983
VARIOUS       1957
FLASH         1329
RECTANGLE     1295
CYLINDER      1252
DIAMOND       1152
CHEVRON        940
EGG            733
TEARDROP       723
CONE           310
CROSS          241
DELTA            7
CRESCENT         2
ROUND            2
HEXAGON          1
FLARE            1
PYRAMID          1
DOME             1
Name: Shape Reported, dtype: int64

#### 5. Create a subset of the data that is the top 5 cities and the top 5 shapes.

In [58]:
# A:pulling top cities and shapes from the above queries
cities=['Seattle','New York City','Phoenix''Las Vegas','Portland']
shapes=['LIGHT','TRIANGLE','CIRCLE','FIREBALL ','OTHER']
subset= ufo[ufo['City'].isin(cities)&ufo['Shape Reported'].isin(shapes)]
subset.head()

              City Colors Reported Shape Reported State             Time
96   New York City             NaN         CIRCLE    NY    8/1/1948 2:00
208  New York City             NaN          OTHER    NY  7/15/1952 19:00
313  New York City             NaN          LIGHT    NY  2/15/1955 19:00
367  New York City             NaN          LIGHT    NY  6/15/1956 21:00
568  New York City             NaN          OTHER    NY  10/1/1959 16:00

#### 6. With the subset, find the percent of each shape seen by city.

In [8]:
# A:

**7. Make a grouped bar chart with your subset data showing counts of shapes seen by city.**

In [9]:
# A: